# Rust 오케스트레이터 작업용 기본 환경변수
RUST_LOG=info
RECORDROUTE_API_PORT=18000
RECORDROUTE_SWAGGER_PORT=14000
LLAMA_TEXT_URL=http://127.0.0.1:18101
LLAMA_EMBED_URL=http://127.0.0.1:18102
WHISPER_URL=http://127.0.0.1:18103
